body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.table{
  position: relative;
}

.btnDetail{
  position: absolute;
  right: 10px;
  top: 6px;
}
th{
  color: #fff;
}
.formLogin{
  width: 400px;
  height: 400px;
  margin-top: 100px;
  border-radius: 10px;
  background-color: aqua;
}
.btnLogin{
  margin-left: 140px;
  margin-top: 30px;
}
.bgDetail{
  background-color: aqua;
  width:100%;
  border-radius: 10px;
}
